.open-sans-poppins {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
        
}
/* shared styels */
:root{
    --primary-color: #3A3A3A;
}
.btn-primary{
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
}

/* Nav-bar styles */
nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    
}
nav ul a {
    text-decoration: none;
     color: var(--primary-color);
     font-size: 16px;
     font-weight: 600;
    align-items: center;
}
nav img{
    width: 20px;
   
}
nav, .title{
font-size: 24px;
color: var(--primary-color);
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
.banner-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 52px;
    font-weight: bold;
    width: 582px;
}
.banner-description{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500px;
    width: 505px;
}
/* medium devices */
@media screen and (max-width: 576px){
    nav{
        display: block;
    }
    nav ul {
        display: block;
        max-width: 576px;
        align-items: center;
        text-align: center;
    
    }
    .banner{
        display: block;
        justify-content: center;
        text-align: center;
        background-position: bottom;
    }
    .banner-title{
    font-size:40px ;
    width: 100%;
}
}
/* tablet devices */
