.open-sans-poppins {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main{
    /* max-width: 1140px; */
    margin: 0 auto;
}
main section{
    margin: 130px;
    margin-bottom: 130px;
}
/* shared styels */
:root{
    --primary-color: #3A3A3A;
}
.btn-primary{
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    background-color: #2cb3e0;
    color: black;
    
}

/* Nav-bar styles */
nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    
}
nav ul a {
    text-decoration: none;
     color: var(--primary-color);
     font-size: 16px;
     font-weight: 600;
    align-items: center;
}
nav img{
    width: 20px;
   
}
nav, .title{
font-size: 24px;
color: var(--primary-color);
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
.banner-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 52px;
    font-weight: bold;
    width: 582px;
}
.banner-description{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500px;
    width: 505px;
}
/* logos section*/
.logos{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px #aaaaaa70;
}

/* Products */

.collection-title{
    text-align: center;
    font-size: 28px;
    font-weight: 500px;
    color: #3A3A3A;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap:50px;
}
.product-item{
    width: 329px;
    height: 420px;
    /* border: 2px solid tomato; */
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.084);
}
.pro-pic{
    width: 328px;
    height: 256px;
    align-items: center;
}
.product-title{
    font-size: 28px;
    font-weight: 600px;
}
.price{
    font-size: 24px;
    margin-bottom: 10px;
}
.ratings{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    gap: 5px;
   color:  #787885;

}
.starts{
    color:#FB8200;
}
.pro-des{
    font-size: 16px;
    font-weight: bold;
    color: #787885;
    width: 200px;
}
.see-more{
    font-size: 16px;
    font-weight: bold;
    color: #E02C6D;
    
}
/* Featured-products */
.Featured-products{
    display: flex;
    gap: 100px;
}
.featured-title{
    font-size: 38px;
    font-weight: bold;
}
.featured-des{
    font-size: 16px;
    font-weight: bold;
    color: #6C6C6C;
    width: 501px;
    height: 88px;
}
/* Footer */
footer{
    background-color: #0A0826;
    display: flex;
    justify-content: center;
}
.foot{
    width: 1140px;
    text-align: center;
}
.footer-title{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 50px;
}
.copy{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: bold;
}
.social-meadia{
    color: #D9DBE1;
    margin-bottom: 50px;
}

/* medium devices */
@media screen and (max-width: 576px){
    nav{
        display: block;
    }
    nav ul {
        display: block;
        max-width: 576px;
        align-items: center;
        text-align: center;
    
    }
    .banner{
        display: block;
        justify-content: center;
        text-align: center;
        background-position: bottom;
    }
    .banner-title{
    font-size:40px ;
    width: 100%;
    }
    .logos{
         grid-template-columns:  repeat(4,auto);
         row-gap: 30px;
         column-gap: 30px;
         width: 100px;
         box-shadow: none;
         
    }
    .products{
        
        grid-template-columns: repeat(1,1fr);
    }
    .Featured-products{
    display: block;
    
}
}

